In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

/kaggle/input/acm-bpdcs-kaggle-konquest-2024/sample_submission.csv
/kaggle/input/acm-bpdcs-kaggle-konquest-2024/train.csv
/kaggle/input/acm-bpdcs-kaggle-konquest-2024/test.csv

# READING THE DATASET

In [2]:
train=pd.read_csv('/kaggle/input/acm-bpdcs-kaggle-konquest-2024/train.csv')
test=pd.read_csv('/kaggle/input/acm-bpdcs-kaggle-konquest-2024/test.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             103904 non-null  int64
 1   CustomerGender                 103904 non-null  object
 2   CustomerType                   103904 non-null  object
 3   Age                            103904 non-null  int64
 4   TravelPurpose                  103904 non-null  object
 5   ClassTravelled                 103904 non-null  object
 6   DistanceToDestination          103904 non-null  int64
 7   Inflight wifi                  103904 non-null  int64
 8   Time convenience               103904 non-null  int64
 9   WebsiteExperience              103904 non-null  int64
 10  ConvenienceOfGate              103904 non-null  int64
 11  Inflight Food                  103904 non-null  int64
 12  Online check-in                103904 non-null  int64
 13  ComfortOfSeats                 103904 non-null  int64
 14  Inflight entertainment system  103904 non-null  int64
 15  On-board service               103904 non-null  int64
 16  Leg room in flight             103904 non-null  int64
 17  Baggage handling ease          103904 non-null  int64
 18  Checkin service                103904 non-null  int64
 19  Inflight service               103904 non-null  int64
 20  Cleanliness                    103904 non-null  int64
 21  Departure Delay in Minutes     103904 non-null  int64
 22  Arrival Delay in Minutes       103594 non-null  float64
 23  CustomerHappiness              103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

In [4]:
train.describe()

,id,Age,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,ConvenienceOfGate,Inflight Food,Online check-in,ComfortOfSeats,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [5]:
train.head(5)

,id,CustomerGender,CustomerType,Age,TravelPurpose,ClassTravelled,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,...,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,CustomerHappiness
0,70172,Male,Frequent,13,Recreation,PremiumEconomy,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,Unhappy
1,5047,Male,Occasional,25,Business,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,Unhappy
2,110028,Female,Frequent,26,Business,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,Happy
3,24026,Female,Frequent,25,Business,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,Unhappy
4,119299,Male,Frequent,61,Business,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,Happy

In [6]:
train.columns

Index(['id', 'CustomerGender', 'CustomerType', 'Age', 'TravelPurpose',
       'ClassTravelled', 'DistanceToDestination', 'Inflight wifi',
       'Time convenience', 'WebsiteExperience', 'ConvenienceOfGate',
       'Inflight Food', 'Online check-in', 'ComfortOfSeats',
       'Inflight entertainment system', 'On-board service',
       'Leg room in flight', 'Baggage handling ease', 'Checkin service',
       'Inflight service', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes', 'CustomerHappiness'],
      dtype='object')

In [7]:
train.isnull().sum()

id                                 0
CustomerGender                     0
CustomerType                       0
Age                                0
TravelPurpose                      0
ClassTravelled                     0
DistanceToDestination              0
Inflight wifi                      0
Time convenience                   0
WebsiteExperience                  0
ConvenienceOfGate                  0
Inflight Food                      0
Online check-in                    0
ComfortOfSeats                     0
Inflight entertainment system      0
On-board service                   0
Leg room in flight                 0
Baggage handling ease              0
Checkin service                    0
Inflight service                   0
Cleanliness                        0
Departure Delay in Minutes         0
Arrival Delay in Minutes         310
CustomerHappiness                  0
dtype: int64

In [8]:
train.drop(["Arrival Delay in Minutes"],axis=1)
train.shape

(103904, 24)

In [9]:

train.shape

(103904, 24)

In [10]:
train[train.duplicated()]

Empty DataFrame
Columns: [id, CustomerGender, CustomerType, Age, TravelPurpose, ClassTravelled, DistanceToDestination, Inflight wifi, Time convenience, WebsiteExperience, ConvenienceOfGate, Inflight Food, Online check-in, ComfortOfSeats, Inflight entertainment system, On-board service, Leg room in flight, Baggage handling ease, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, CustomerHappiness]
Index: []

[0 rows x 24 columns]

In [11]:
train.value_counts()

id      CustomerGender  CustomerType  Age  TravelPurpose  ClassTravelled  DistanceToDestination  Inflight wifi  Time convenience  WebsiteExperience  ConvenienceOfGate  Inflight Food  Online check-in  ComfortOfSeats  Inflight entertainment system  On-board service  Leg room in flight  Baggage handling ease  Checkin service  Inflight service  Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes  CustomerHappiness
1       Male            Occasional    48   Business       Business        821                    3              3                 3                  3                  5              3                5               5                              3                 2                   5                      4                5                 5            2                           5.0                       Unhappy              1
86521   Female          Frequent      65   Recreation     Economy         762                    3              5                 3                  2                  5              4                5               3                              3                 3                   1                      4                3                 5            39                          20.0                      Unhappy              1
86534   Male            Frequent      37   Recreation     Economy         762                    2              5                 2                  2                  2              2                2               2                              5                 5                   5                      4                5                 2            0                           0.0                       Unhappy              1
86533   Female          Frequent      47   Recreation     Economy         762                    2              5                 2                  2                  5              5                5               2                              2                 2                   3                      3                2                 4            9                           0.0                       Unhappy              1
86531   Female          Frequent      43   Recreation     Economy         762                    3              4                 3                  4                  5              4                3               4                              4                 3                   3                      4                4                 2            94                          76.0                      Unhappy              1
                                                                                                                                                                                                                                                                                                                                                                                                                                              ..
43293   Female          Frequent      59   Business       Economy         402                    5              4                 4                  4                  2              2                5               4                              4                 5                   4                      5                4                 5            66                          63.0                      Happy                1
43292   Male            Frequent      29   Business       Business        2738                   1              2                 2                  2                  1              1                1               1                              3                 3                   4                      4                3                 1            0                           0.0                       Unhappy              1
43291   Female          Frequent      42   Business       Economy         387                    4              1                 1                  1                  5              5                1               4                              4                 4                   4                      3                4                 3            0                           4.0                       Happy                1
43290   Female          Frequent      56   Business       Economy         436                    5              3                 3                  3                  5              4                3               4                              4                 5                   4                      3                4                 1            0                           0.0                       Happy                1
129880  Female          Frequent      20   Recreation     PremiumEconomy  337                    3              1                 3                  2                  2              3                2               2                              4                 4                   1                      4                2                 2            0                           0.0                       Unhappy              1
Name: count, Length: 103594, dtype: int64

In [12]:
!pip install scikit-learn
!pip install category_encoders

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: category_encoders in /opt/conda/lib/python3.10/site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.11.4)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.14.1)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (2.2.0)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.2.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.1.1)

In [13]:

y_train=train[["CustomerHappiness"]]
y_train.head(5)

  CustomerHappiness
0           Unhappy
1           Unhappy
2             Happy
3           Unhappy
4             Happy

In [14]:
X_train=train.drop("CustomerHappiness",axis=1)
X_train.head(5)

,id,CustomerGender,CustomerType,Age,TravelPurpose,ClassTravelled,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,...,ComfortOfSeats,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,70172,Male,Frequent,13,Recreation,PremiumEconomy,460,3,4,3,...,5,5,4,3,4,4,5,5,25,18.0
1,5047,Male,Occasional,25,Business,Business,235,3,2,3,...,1,1,1,5,3,1,4,1,1,6.0
2,110028,Female,Frequent,26,Business,Business,1142,2,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,24026,Female,Frequent,25,Business,Business,562,2,5,5,...,2,2,2,5,3,1,4,2,11,9.0
4,119299,Male,Frequent,61,Business,Business,214,3,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [15]:
test.shape

(25976, 23)

In [16]:
test.isnull().sum()
test=test.drop(["Arrival Delay in Minutes"],axis=1)
test.shape

(25976, 22)

In [17]:
train.shape

(103904, 24)

In [18]:
test[test.duplicated()]

Empty DataFrame
Columns: [id, CustomerGender, CustomerType, Age, TravelPurpose, ClassTravelled, DistanceToDestination, Inflight wifi, Time convenience, WebsiteExperience, ConvenienceOfGate, Inflight Food, Online check-in, ComfortOfSeats, Inflight entertainment system, On-board service, Leg room in flight, Baggage handling ease, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes]
Index: []

[0 rows x 22 columns]

In [19]:
from sklearn.preprocessing import LabelEncoder
cat_cols=['CustomerGender', 'CustomerType','TravelPurpose',
       'ClassTravelled', 'CustomerHappiness']
le = LabelEncoder()

print(cat_cols)
# Copy the DataFrame
df_orginal = train.copy()

# Apply label encoding to the specified columns
train[cat_cols] = train[cat_cols].apply(le.fit_transform)



# Display unique encoded values for each categorical column for Data Preprocessing in the Model deployment stage.
for column in cat_cols:
    unique_encoded_values = train[column].unique()
    print(f"Unique encoded values for column '{column}' {df_orginal[column].unique()} : {unique_encoded_values}")

    
train.head(5)

['CustomerGender', 'CustomerType', 'TravelPurpose', 'ClassTravelled', 'CustomerHappiness']
Unique encoded values for column 'CustomerGender' ['Male' 'Female'] : [1 0]
Unique encoded values for column 'CustomerType' ['Frequent' 'Occasional'] : [0 1]
Unique encoded values for column 'TravelPurpose' ['Recreation' 'Business'] : [1 0]
Unique encoded values for column 'ClassTravelled' ['PremiumEconomy' 'Business' 'Economy'] : [2 0 1]
Unique encoded values for column 'CustomerHappiness' ['Unhappy' 'Happy'] : [1 0]

,id,CustomerGender,CustomerType,Age,TravelPurpose,ClassTravelled,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,...,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,CustomerHappiness
0,70172,1,0,13,1,2,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,1
1,5047,1,1,25,0,0,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,1
2,110028,0,0,26,0,0,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,0
3,24026,0,0,25,0,0,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,1
4,119299,1,0,61,0,0,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,0

In [20]:
from sklearn.preprocessing import LabelEncoder
cat_cols=['CustomerGender', 'CustomerType','TravelPurpose',
       'ClassTravelled']
le = LabelEncoder()

print(cat_cols)
# Copy the DataFrame
df_orginal = test.copy()

# Apply label encoding to the specified columns
test[cat_cols] = test[cat_cols].apply(le.fit_transform)



# Display unique encoded values for each categorical column for Data Preprocessing in the Model deployment stage.
for column in cat_cols:
    unique_encoded_values = test[column].unique()
    print(f"Unique encoded values for column '{column}' {df_orginal[column].unique()} : {unique_encoded_values}")

    
test.head(5)

['CustomerGender', 'CustomerType', 'TravelPurpose', 'ClassTravelled']
Unique encoded values for column 'CustomerGender' ['Female' 'Male'] : [0 1]
Unique encoded values for column 'CustomerType' ['Frequent' 'Occasional'] : [0 1]
Unique encoded values for column 'TravelPurpose' ['Business' 'Recreation'] : [0 1]
Unique encoded values for column 'ClassTravelled' ['Economy' 'Business' 'PremiumEconomy'] : [1 0 2]

,id,CustomerGender,CustomerType,Age,TravelPurpose,ClassTravelled,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,...,Online check-in,ComfortOfSeats,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes
0,19556,0,0,52,0,1,160,5,4,3,...,4,3,5,5,5,5,2,5,5,50
1,90035,0,0,36,0,0,2863,1,1,3,...,4,5,4,4,4,4,3,4,5,0
2,12360,1,1,20,0,1,192,2,0,2,...,2,2,2,4,1,3,2,2,2,0
3,77959,1,0,44,0,0,3377,0,0,0,...,4,4,1,1,1,1,3,1,4,0
4,36875,0,0,49,0,1,1182,2,3,4,...,1,2,2,2,2,2,4,2,4,0

In [21]:
from sklearn.preprocessing import MinMaxScaler

# Custom new minimum and maximum values
new_min = 0
new_max = 1  # Set your desired maximum value

'''duration_min = data_set['duration'].min()
duration_max = data_set['duration'].max()
days_left_min = data_set['days_left'].min()
days_left_max = data_set['days_left'].max()
price_min = data_set['price'].min()
price_max = data_set['price'].max()'''

scaler = MinMaxScaler(feature_range=(new_min, new_max))

 # List of numerical columns to scale
num_cols = ['CustomerGender', 'CustomerType', 'Age', 'TravelPurpose',
       'ClassTravelled', 'DistanceToDestination', 'Inflight wifi',
       'Time convenience', 'WebsiteExperience', 'ConvenienceOfGate',
       'Inflight Food', 'Online check-in', 'ComfortOfSeats',
       'Inflight entertainment system', 'On-board service',
       'Leg room in flight', 'Baggage handling ease', 'Checkin service',
       'Inflight service', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes', 'CustomerHappiness']

 # Apply min-max scaling to the specified columns in flightdf
train[num_cols] = scaler.fit_transform(train[num_cols])

 # Display the scaled DataFrame
train.head(5)

,id,CustomerGender,CustomerType,Age,TravelPurpose,ClassTravelled,DistanceToDestination,Inflight wifi,Time convenience,WebsiteExperience,...,Inflight entertainment system,On-board service,Leg room in flight,Baggage handling ease,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,CustomerHappiness
0,70172,1.0,0.0,0.076923,1.0,1.0,0.086632,0.6,0.8,0.6,...,1.0,0.8,0.6,0.75,0.8,1.0,1.0,0.015704,0.011364,1.0
1,5047,1.0,1.0,0.230769,0.0,0.0,0.041195,0.6,0.4,0.6,...,0.2,0.2,1.0,0.50,0.2,0.8,0.2,0.000628,0.003788,1.0
2,110028,0.0,0.0,0.243590,0.0,0.0,0.224354,0.4,0.4,0.4,...,1.0,0.8,0.6,0.75,0.8,0.8,1.0,0.000000,0.000000,0.0
3,24026,0.0,0.0,0.230769,0.0,0.0,0.107229,0.4,1.0,1.0,...,0.4,0.4,1.0,0.50,0.2,0.8,0.4,0.006910,0.005682,1.0
4,119299,1.0,0.0,0.692308,0.0,0.0,0.036955,0.6,0.6,0.6,...,0.6,0.6,0.8,0.75,0.6,0.6,0.6,0.000000,0.000000,0.0

In [22]:
from sklearn.preprocessing import MinMaxScaler

# Custom new minimum and maximum values
new_min = 0
new_max = 1  # Set your desired maximum value

'''duration_min = data_set['duration'].min()
duration_max = data_set['duration'].max()
days_left_min = data_set['days_left'].min()
days_left_max = data_set['days_left'].max()
price_min = data_set['price'].min()
price_max = data_set['price'].max()'''

scaler = MinMaxScaler(feature_range=(new_min, new_max))

 # List of numerical columns to scale
num_cols = ['CustomerGender', 'CustomerType', 'Age', 'TravelPurpose',
       'ClassTravelled', 'DistanceToDestination', 'Inflight wifi',
       'Time convenience', 'WebsiteExperience', 'ConvenienceOfGate',
       'Inflight Food', 'Online check-in', 'ComfortOfSeats',
       'Inflight entertainment system', 'On-board service',
       'Leg room in flight', 'Baggage handling ease', 'Checkin service',
       'Inflight service', 'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes']

 # Apply min-max scaling to the specified columns in flightdf
test[num_cols] = scaler.fit_transform(test[num_cols])

 # Display the scaled DataFrame
test.head(5)

KeyError: "['Arrival Delay in Minutes'] not in index"

In [ ]:
test=test.drop(['ClassTravelled','WebsiteExperience',"Customer Gender","Convenience Of Gate"],axis=1)

In [ ]:
train.corr()

plt.figure(figsize=(20,20))
sns.heatmap(train.corr(), annot = True, fmt=".2f")
plt.show()

In [ ]:
train.shape

In [ ]:
train.head(5)

In [ ]:
train=train.drop(['ClassTravelled','WebsiteExperience',"Customer Gender","Convenience Of Gate"],axis=1)
train.head()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score,classification_report
from xgboost import XGBClassifier

In [ ]:
X=train.drop('CustomerHappiness',axis=1)
y=train[['CustomerHappiness']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
xgb=XGBClassifier()
xgb.fit(X_train,y_train)

In [ ]:
pred=xgb.predict(X_test)

In [ ]:
print(classification_report(y_test,pred))
print(f1_score(y_test,pred))

In [ ]:
rf=RandomForestClassifier()
rf.fit(X_train,y_train)

In [ ]:
print(classification_report(y_test,pred))
print(f1_score(y_test,pred))

In [ ]:
arr=xgb.predict(test)

In [ ]:
'''airline_mapping = {'SpiceJet':4, 'AirAsia':0}
    
    encoded_airline = airline_mapping.get(airline)
    #encoded_source_city = source_city_mapping.get(source_city)
    encoded_departure_time = departure_time_mapping.get(departure_time)
    encoded_arrival_time = arrival_time_mapping.get(arrival_time)
    #encoded_destination_city = destination_city_mapping.get(destination_city)
    encoded_class = class_mapping.get(class_type)
    encoded_stops = stops_mapping.get(stops.lower())  # Convert stops value to lowercase before encoding

    new_min = 0
    new_max = 1  # Set your desired maximum value

    duration_min = df['duration'].min()
    duration_max = df['duration'].max()
    days_left_min = df['days_left'].min()
    days_left_max = df['days_left'].max()
    price_min = df['price'].min()
    price_max = df['price'].max()

# Scale 'duration' and 'days_left' as per model data
    scaled_duration = (duration - duration_min) / (duration_max - duration_min) * (new_max - new_min) + new_min
    scaled_days_left = (days_left - days_left_min) / (days_left_max - days_left_min) * (new_max - new_min) + new_min
    
    # Create a list with the encoded features
    input_data = [encoded_airline, encoded_departure_time, encoded_stops, encoded_arrival_time,encoded_class, scaled_duration, scaled_days_left]
    
    # Make the prediction using the best model that is XGBRegressor .
    predicted_price = (regressor.predict([input_data])[0]).round(2) 
    
    reversed_predicted_value = round(((predicted_price - new_min) * (price_max - price_min) / (new_max - new_min) + price_min),2)
'''

In [ ]:
df_test=pd.read_csv("/kaggle/input/acm-bpdcs-kaggle-konquest-2024/sample_submission.csv")
predictions= np.where(arr == 1, "Unhappy", "Happy")
predictions
output = pd.DataFrame({'id': df_test.id,
                       'CustomerHappiness': predictions})
output.to_csv('submitxgb.csv', index = False)